# Default ignored files
node_modules
junit-report
junit-report/*
package-lock.json
logs
report
carbon.code-workspace
.idea
tests/support/rest/test.js
.DS_Store
.iml
tests/support/rest/*.crt
tests/support/rest/*.key
tests/support/graphQLData/headers/headers.js
allure-report
data/param.txt
./**/.DS_Store
./.DS_Store
./**/**/.DS_Store
./**/**/**/.DS_Store
.secrets
.vscode
allure-results
test-results
playwright-report
data/testData/
playwright.config.js
output
certs
data/config.json